<section class="py-5">
    <div class="container px-4">
        <div class="row  row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col mb-5">
                <div class="card h-100">

                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                    <img class="card-img-top" src="https://process.filepicker.io/APHE465sSbqvbOIStdwTyz/rotate=deg:exif/resize=fit:crop,height:566,width:944/output=quality:80,compress:true,strip:true,format:jpg/cache=expiry:max/https://cdn.filestackcontent.com/BYr7QkaTfCRcAhTdtBzQ" alt="...">

                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder">Special Item</h5>



                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <div class="p-4 border-top-0">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                    <img class="card-img-top" src="https://process.filepicker.io/APHE465sSbqvbOIStdwTyz/rotate=deg:exif/resize=fit:crop,height:566,width:944/output=quality:80,compress:true,strip:true,format:jpg/cache=expiry:max/https://cdn.filestackcontent.com/BYr7QkaTfCRcAhTdtBzQ" alt="...">

                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder">Special Item</h5>



                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <div class=" p-4 pt-0 border-top-0 ">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                    <img class="card-img-top" src="https://thumbs.dreamstime.com/b/python-programming-developer-code-young-business-crew-working-startup-coding-script-text-screen-112936792.jpg" alt="...">

                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder">Special Item</h5>



                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <div class=" p-4 pt-0 border-top-0 ">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                    <img class="card-img-top" src="https://thumbs.dreamstime.com/b/python-programming-developer-code-young-business-crew-working-startup-coding-script-text-screen-112936792.jpg" alt="...">

                    <div class="card-body p-4">
                        <div class="text-center">


                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <div class=" p-4 pt-0 border-top-0 ">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                    <img class="card-img-top" src="https://process.filepicker.io/APHE465sSbqvbOIStdwTyz/rotate=deg:exif/resize=fit:crop,height:566,width:944/output=quality:80,compress:true,strip:true,format:jpg/cache=expiry:max/https://cdn.filestackcontent.com/BYr7QkaTfCRcAhTdtBzQ" alt="...">

                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder">Special Item</h5>



                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <div class="p-4 pt-0 border-top-0 ">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                    <img class="card-img-top" src="https://process.filepicker.io/APHE465sSbqvbOIStdwTyz/rotate=deg:exif/resize=fit:crop,height:566,width:944/output=quality:80,compress:true,strip:true,format:jpg/cache=expiry:max/https://cdn.filestackcontent.com/BYr7QkaTfCRcAhTdtBzQ" alt="...">

                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder">Special Item</h5>



                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <div class=" p-4 pt-0 border-top-0">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>